button {
    border-radius: 39px;
    border: 0 solid;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    padding: 5px 25px;
}

button.primary {
    background: #E9F0F4;
    color: #139EEE;
}

button.selected {
    background: #139EEE;
    color: #FFFFFF;
}

.buttons-state button {
    margin: 0;
    border-radius: 0;
    background: none;
    font-weight: 500;
    font-size: 14px;
    color: #55678B;
    border: 1px solid #DCE9F1;
}

.buttons-state button.active {
    background: #252E40;
    color: #FFFFFF;
}

.buttons-state button:first-child {
    border-right: 0 solid;
}

.buttons-state button:last-child {
    border-left: 0 solid;
}
