.account-create-row {
    width: 50%;
    margin: auto;
}

.account-create-row hr {
    margin: 20px 0;
}

@media (max-width: 767px) {
    .account-create-row {
        width: 70%;
        margin-bottom: 70px;
    }
}