.receive_transaction {
    margin-top: 50px;
}

.receive_transaction .qr_code_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.receive_transaction .copy_text {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    word-break: break-all;
}

.receive_transaction .copy_div {
    display: flex;
}

.receive_transaction .information_button {
    margin-top: 5px;
    flex-shrink: 0;
}

.receive_transaction .heading_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #55678B;
    margin-right: 20px;
}

.receive_transaction .note_text {
    font-size: 16px;
    line-height: 25px;
    color: #55678B;
    margin-top: 20px;
}

.receive_transaction .note_text b {
    font-weight: bold;
    color: #8EA1C8;
    margin-right: 5px;
}
