.other {
    position: relative;
}

.other .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1B253A;
    padding: 10px 20px;
}

.other .left_content {
    width: 60%;
}

.other .right_content {
    width: 35%;
}

.other .left_content .details p {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #BBCAE9;
    min-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.other .time_details {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #485572;
    margin-top: 10px;
}

.other .right_content > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    width: 50%;
    margin: auto;
    letter-spacing: 0.01em;
}

.other .right_content > p > b {
    color: #139eee;
    text-transform: uppercase;
    margin-right: 10px;
}

.other .left_content .hash {
    display: flex;
    align-items: center;
}

.other .left_content .hash .icon {
    width: 10px;
    margin-left: 10px;
}
