.staking_tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #1B253A;
    border-radius: 10px;
}

.staking_tabs > div {
    flex: 1;
}

.staking .staking_tabs .horizontal_tabs {
    border-radius: 10px 10px 0 0;
}

.staking .staking_tabs .horizontal_tabs,
.staking .staking_tabs .staking_tab {
    background: #0D1423;
}

.staking .staking_tabs .staking_tab {
    background: #090F1B;
}

.staking .staking_tabs .horizontal_tabs .tab {
    min-width: unset;
    margin: 0;
    border-right: 1px solid #172032;
}

.staking .staking_tabs .horizontal_tabs .tab:last-child {
    border-right: unset;
}

.staking .staking_tabs .horizontal_tabs .active_tab {
    background: #060B17;
}

.staking .staking_tabs .horizontal_tabs button.active_tab:first-child {
    border-radius: 10px 0 0 0;
}

.staking .staking_tabs .horizontal_tabs button.active_tab:last-child {
    border-radius: 0 10px 0 0;
}

.staking .staking_tabs .horizontal_tabs .tabs_content > div > span {
    border-radius: 5px 5px 0px 0px;
    height: 2px;
    min-width: calc(100% / 3);
}
