.wallet .wallets .cards_div {
    position: relative;
}

.wallets .cards_div .hover_button {
    height: 100%;
    width: calc(100% - 25px);
    position: absolute;
    top: 0;
    border-radius: 10px;
}

.wallet .wallets .cards_div:hover .hover_button {
    background: #139eee1f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wallets .hover_button .send_receive_button {
    background: #139EEE;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 8px 30px;
}

.wallets .hover_button .send_receive_button > span:first-child {
    margin-top: 2px;
}
