.select_field {
    width: 100%;
}

.select_field > div {
    height: 48px;
}

.select_field label + div:before,
.select_field label + div:after {
    border-bottom: 1px solid #3a3939;
}

.select_field input {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

.select_field > div > div {
    display: flex;
    align-items: center;
    color: #fff;
}

.select_field img {
    margin-right: 10px;
}

.select_field svg {
    fill: #8EA1C8;
}

.select_field fieldset {
    border-radius: 10px;
    border-color: #1B253A;
}

.sentinel .select_field > div:hover fieldset {
    border-color: #1B253A;
}
