.wallet {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wallet > div {
    background: #090F1B;
    flex-grow: 1;
}

.wallet .wallet_tab > div {
    padding: 40px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}
