.delegate {
    height: 100%;
    margin-top: 30px;
}

.delegate .heading_text {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #EEF4FF;
    margin-right: 50px;
}

.delegate .filters {
    display: flex;
    align-items: center;
    position: relative;
}

.delegate .active_button[disabled] {
    border: 1px solid #252E40;
    border-radius: 50px;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #139EEE;
    padding: 5px 30px;
    background: transparent;
    cursor: pointer;
}

.delegate .active_button[disabled]:hover {
    background: transparent;
}

.delegate .filters > button {
    width: 120px;
}

.delegate .outlined_button {
    font-size: 12px;
    line-height: 20px;
    border-radius: 50px;
    border: 1px solid transparent;
}
