.staking_tabs .table .table_div {
    border: none;
    margin-top: 30px;
}

.staking_tabs .table_div tbody td {
    background: #101623;
    border-bottom: 3px solid #060B17;
}

.staking_tabs .table_div thead th,
.staking_tabs .table_div tbody tr:last-child td {
    border-bottom: none;
}

.staking_tabs tbody tr button {
    visibility: hidden;
    width: 160px;
}

.staking_tabs tbody tr:hover button {
    visibility: unset;
}

.staking_tabs tbody tr:hover button > span:first-child {
    margin-top: 2px;
}

.staking_tabs .table {
    min-height: 400px;
    position: relative;
}

.staking_tabs .table .scroll_bar_div {
    max-height: 500px;
    height: 100%;
}

/* table cell */
.staking_tabs .table_cell1 {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #55678B;
}

.staking_tabs .table_cell2 {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #139EEE;
}

.staking_tabs .table tbody tr td.table_cell7 {
    padding: 0 20px 0 0;
}
