.wallet_seed {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.wallet_seed .heading_text {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.wallet_seed .copy_indication {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #E3814A;
}

.copy_box .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.copy_box .row .heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8EA1C8;
    width: 100px;
    margin-top: 7px;
    text-align: right;
    margin-right: 20px;
}

.copy_box .row .heading + div {
    width: 86%;
}

.copy_box .copy_div {
    display: flex;
}

.wallet_seed .information_button {
    margin-top: 5px;
    flex-shrink: 0;
}

.copy_box .copy_text {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    word-break: break-all;
}

.copy_box .seed_div {
    background: #090F1B;
    border: 1px dashed #26324C;
    padding: 20px 40px;
}

.seed_div .seed_text {
    font-weight: normal;
    font-size: 18px;
    line-height: 247.2%;
    letter-spacing: 0.04em;
    color: #E3814A;
    word-spacing: 10px;
}

.wallet_seed .button_div {
    width: 86%;
    margin-left: auto;
}

.wallet_seed .create_account_button {
    background: #31B34E;
    padding: 10px 100px;
    height: 60px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.115em;
    color: #FFFFFF;
}

.wallet_seed .create_account_button:hover {
    background: #1b9837;
}

.wallet_seed .note_text {
    font-size: 16px;
    line-height: 25px;
    color: #55678B;
    margin-top: 20px;
}

.wallet_seed .note_text b {
    font-weight: bold;
    color: #8EA1C8;
    margin-right: 5px;
}

.wallet_seed .export_button {
    display: flex;
    align-items: center;
}

.export_button .active_button {
    height: 60px;
    margin-left: 20px;
    width: 180px;
    border-radius: 10px;
    padding: 0;
}

.export_button .active_button a {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #139eee;
}

.export_button .active_button .icon {
    width: 16px;
    margin-left: 20px;
    margin-bottom: 4px;
    fill: #139eee;
}
