.sideBar {
    background-color: #142D51;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
}

.sideLogoImg {
    width: 30%;
    height: auto;
}

.Top {
    margin-top: 20%;
}

.Bottom {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20%;
}

.sideBarText {
    color: grey;
    font-size: 12px;
    padding-bottom: 30px;
}

.sideBarBrand {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 12px;
    letter-spacing: 5px;
}

.sideBarVersion {
    color: white;
    font-size: 10px;
}
