.dialog > div:first-child {
    opacity: 0.6;
}

.dialog > div:nth-child(3) > div {
    width: 800px;
    max-width: 1000px;
    background: #101623;
    border-radius: 10px;
}

.dialog .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.dialog .header > p {
    font-size: 18px;
    line-height: 28px;
    color: #EEF4FF;
}

.dialog .header .text1 {
    text-transform: uppercase;
}

.dialog .header .text2 {
    letter-spacing: 0.01em;
    color: #139EEE;
    margin-left: 5px;
}

.dialog .header img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.dialog .content {
    padding: 10px 40px;
}

.dialog .content .row {
    align-items: center;
    margin-bottom: 15px;
}

.dialog .row.text_field_div {
    justify-content: space-between;
    margin-top: 50px;
}

.dialog .row.text_field_div > div {
    width: 48%;
}

.dialog .heading_text {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #55678B;
    width: 22%;
}

.dialog .value {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #8EA1C8;
}

.dialog .button_div {
    justify-content: center;
    padding: 30px 20px;
}

.dialog .active_button {
    border: 2px solid #139EEE;
    border-radius: 50px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 30px;
}

.dialog .active_button > span:first-child {
    margin-top: 2px;
}

.dialog .text_field > div:hover fieldset {
    border-color: #1B253A;
}

.dialog .text_field_div .text_field > div {
    background: #090F1B;
    border-radius: 10px;
}

.dialog .row.gas_price_text_field {
    margin-top: 0;
}

.dialog .row.gas_price_text_field > div {
    width: 100%;
}

.dialog .row.gas_price_text_field.to_address > div {
    width: 48%;
}

.dialog button[disabled] {
    color: #eee;
    background: #eeeeee57;
    cursor: no-drop;
    pointer-events: unset;
}

.dialog button[disabled]:hover {
    background: #eeeeee57;
}

.dialog .content::-webkit-scrollbar {
    border: 0;
    height: 10px;
    width: 6px;
}

.dialog .content::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    display: none;
}

.dialog .content::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #0B2E49;
}
