.dashboard_content {
    color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dashboard_content > .row {
    justify-content: space-between;
    margin-bottom: 40px;
}

.dashboard_content .row .wallets,
.dashboard_content .row .nodes_list {
    width: 68%;
}

.dashboard_content .row .transactions {
    width: 100%;
}
