.quick_transact {
    display: flex;
    align-items: center;
}

.quick_transact button.quick_transact_button {
    padding: 0 30px;
    margin: 0;
    background: #101623;
}

.quick_transact_button > span {
    display: flex;
    align-items: center;
}

.quick_transact_button > span img {
    margin-right: 10px;
    margin-top: 1px;
}

.quick_transact_button > span .text {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #DCE3F2;
}
