.success_dialog .content .row {
    justify-content: center;
}

.dialog .icon {
    width: 100px;
    margin-bottom: 30px;
}

.success_dialog .content .tokens {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #139EEE;
}
