.home .circular_progress {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    width: 100%;
    position: fixed;
    left: 0;
    background: #000;
}

.home .content_div > div.circular_progress > div {
    padding: 0;
}

.home .circular_progress > div {
    color: #0da2eb;
}
