.form-control, .form-control::placeholder, .form-control:focus {
    font-size: 16px;
    background: #E9F0F4;
    border: none;
}

label {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #8EA1C8;
}
