.staking_tab[id='simple-tabpanel-1'] > div {
    height: 100%;
}

.withdraw_all.card {
    width: 50%;
    margin: 50px auto;
    background: #101623;
    border-radius: 10px;
    border: none;
    flex-direction: column;
}

.withdraw_all.card form {
    width: 100%;
}

.withdraw_all .row {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.withdraw_all .heading_text {
    font-size: 18px;
    line-height: 28px;
    color: #EEF4FF;
    text-transform: uppercase;
}

.withdraw_all .tokens {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #55678B;
}

.withdraw_all .tokens b {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #139EEE;
    margin-left: 10px;
}

.withdraw_all .text_field_div {
    margin: 0 auto 20px;
    width: 50%;
}

.withdraw_all .text_field_div:nth-child(2) {
    margin-top: 50px;
}

.withdraw_all .text_field_div:nth-child(3) {
    margin-bottom: 50px;
}

.withdraw_all .text_field_div .text_field > div {
    background: #090F1B;
    border-radius: 10px;
}

.withdraw_all .active_button {
    border: 2px solid #139EEE;
    border-radius: 50px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 30px;
    margin-bottom: 20px;
}

.withdraw_all .active_button > span:first-child {
    margin-top: 2px;
}

.withdraw_all .withdraw_all_button {
    text-align: center;
}

@media (max-width: 1700px) {
    .withdraw_all .text_field_div {
        width: 60%;
    }
}

@media (max-width: 1500px) {
    .withdraw_all.card {
        width: 60%;
    }
}
