.circular_progress {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_div > div.circular_progress > div {
    padding: 0;
}

.circular_progress > div {
    color: #0da2eb;
}
