
.footer{
    height: 70px;
    background-color: white;
    outline: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    padding-left: 5%;
}

.icon {
    padding-left: 20px;
    padding-right: 20px;
}

.submitBtn {
    padding-right: 5%;
}


.footer_button{
    height: 35px;
    width: 100px;
    border: none;
    background-color: #109FEC;
    color: white;
    font-size: larger;
    border-radius: 50px;
    font-size: 14px;
}