input {
    width: 100%;
    max-width: 400px;
    border: none;
    background-color: aliceblue;
    height: 45px;
    padding-left: 15px;
}

.input:focus {
    font-weight: bolder;
    font-size: 40px;
    padding-bottom: 30px;
}
