.sentinel .search {
    width: 200px;
    position: absolute;
    right: 0;
    transition: width 1s;
    margin: 0;
}

.sentinel .search:focus-within {
    width: 250px;
}

.sentinel .search fieldset {
    border-radius: 50px;
}

.sentinel .search input {
    padding: 10px 25px;
}

.sentinel .search > div {
    height: 40px;
}

.sentinel .search .icon {
    width: 16px;
    margin-right: 12px;
    fill: #252E40;
}
