.validators-table th, .validators-table td {
    padding: 1rem 0.75rem;
    vertical-align: initial;
    word-break: break-all;
}

.validators-table tbody tr {
    font-weight: 500;
    font-size: 14px;
    color: #142D51;
    border-bottom: 1px solid #dee2e6;
}

.validators-table thead th {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #55678B;
    text-transform: uppercase;
    cursor: pointer;
}

.validators-table thead th .sort {
    display: flex;
}

.validators-table thead th .icon {
    width: 12px;
    height: 10px;
    margin-bottom: 3px;
    margin-left: 3px
}

.serial {
    width: 26px;
    height: 26px;
    background: #e5f5fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 50%;
}
