.table .paper {
    background: #090F1B;
    margin-bottom: 0;
}

.table .table_div {
    border-radius: 10px;
    border: 1px solid #1B253A;
}

.table thead tr th:first-child,
.table tbody tr th {
    padding-left: 20px;
}

.table thead tr th:last-child,
.table tbody tr td:last-child {
    padding-right: 20px;
    text-align: right;
}

.table thead th {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #55678B;
    background: #090F1B;
    border-bottom: 1px solid #1B253A;
}

.table tbody th,
.table tbody td {
    color: #8EA1C8;
    border-bottom: 1px solid #1B253A;
    min-height: 33px;
}

.table .table_sort.active_sort,
.table .table_sort:hover {
    color: #55678B;
}

.table .table_sort.active_sort svg {
    color: #55678B !important;
}

.table .scroll_bar_div {
    height: 400px;
}

.table tbody .table_row:hover {
    background: #0E1627;
}

.table .image_cell {
    display: flex;
    align-items: center;
}

.table .image_cell img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 15px;
}

.table tbody tr td.no_data_cell {
    border-bottom: none;
}
