html, body, #root {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #F6F8FB;;
}

.f-14 {
    font-size: 14px;
}

.fw-600 {
    font-weight: 600;
}

.w-200 {
    width: 200px;
}

.auth-container {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

.auth-container .col-md-4, .auth-container .col-md-8 {
    padding: 0;
}

.login-footer {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #DCE9F1;
    flex-direction: row-reverse;
}

.button-group button {
    margin: 0 10px 5px 0;
}

.login-button button {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
}

label, .label {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #8EA1C8;
    margin-bottom: 8px;
}

.account-section {
    display: flex;
    justify-content: center;
}

.account-section .section-body {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-body .title {
    text-align: center;
}

.section-body .password-box {
    margin: 15px 0 0 0;
}

.section-body .password-box .form-group {
    margin: 0 0 1rem 0;
}

.section-body .form-group {
    margin: 15px 0;
}

.modal-header {
    padding: 40px 40px 0 40px !important;
    border: 0 solid !important;
}

.modal-body {
    padding: 20px 40px 40px 40px !important;
}

.modal-body label {
    font-size: 14px;
}

.modal-header {
    align-items: center;
}

.settings-modal {
    position: relative;
    min-height: 350px !important;
}

.settings-modal .btn.button-primary {
    width: 180px;
    margin-top: 10px;
    text-transform: uppercase;
}

.modal-header .account-name {
    margin: 0 0 0 10px;
    font-size: 18px;
    color: #139EEE;
}

.modal-body .form-group {
    margin-bottom: 20px;
    max-width: 500px;
}

.modal-body .form-control {
    max-width: 500px;
}

.modal-title {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #252E40;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.m-0 {
    margin: 0;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.flex-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.flex-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.flex-item label {
    margin: 0 10px 0 0;
    width: 150px;
    font-size: 14px;
}

.flex-item .address {
    word-break: break-word;
}

.flex-item p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #142D51;
}

.password-box {
    display: flex;
    align-items: center;
}

.password-box .form-group {
    flex: 1;
}

.password-box .password-icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    margin-bottom: -15px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 780px !important;
    }
}

@media (max-width: 767px) {
    .account-section {
        display: block;
    }

    .account-section .section-body {
        padding-top: 20px;
    }
}


.form-control.error {
    box-shadow: 0 0 0 0.2rem #dc354563;
}

.icon-error.show {
    display: block;
}

.icon-error {
    display: none;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 15px;
    top: 47px;
}

.error-message {
    display: none;
    margin: 0;
    font-size: 12px;
    position: absolute;
    background-color: red;
    right: -15px;
    top: 65px;
    padding: 5px 10px;
    z-index: 1;
    color: white;
}

.icon-error:hover + .error-message {
    display: block;
}

.form-group {
    position: relative;
}

.error .tooltip-section {
    display: flex;
    position: absolute;
    right: 15px;
    top: 43px;
    cursor: pointer;
}
