.transaction_tabs {
    width: 100%;
}

.transaction_tabs .horizontal_tabs .tab:first-child {
    padding: 5px;
}

.transaction_tabs header {
    padding: 0 20px;
}

.transaction_tabs .transaction_tab {
    background: #090F1B;
}

.transaction_tabs .transaction_tab > div {
    padding: 0;
}

.transaction_tabs .horizontal_tabs .tab {
    font-size: 13px;
}

.transaction_tabs > div > div > div {
    height: 252px;
    overflow-y: scroll;
}

.transaction_tabs .transaction_time {
    display: flex;
    align-content: center;
}

.transaction_tabs .transaction_time .icon {
    width: 10px;
    margin: 8px 0 0 10px;
}
