.side_bar {
    width: 64px;
    box-sizing: border-box;
    background: #101623;
    color: #fff;
    box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.19);
    -webkit-transition: width 1s;
    transition: width 1s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.side_bar.side_bar_open {
    width: 280px;
}

.side_bar .toggle_button {
    padding: 18px;
    min-width: 60px;
    width: 100%;
    border-radius: 0;
}

.side_bar .toggle_button > span,
.side_bar .logo_section > span {
    justify-content: flex-start;
}

.sentinel .side_bar .hover_side_bar {
    display: none;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.sentinel .side_bar.side_bar_open .hover_side_bar {
    display: unset;
}

.side_bar .logo_section {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 18px;
    min-width: 60px;
    border-radius: 0;
}

.side_bar .sentinel_text_img {
    margin-left: 20px;
    height: 14px;
}

.sentinel .side_bar.side_bar_open .hover_side_bar.logo_full_div {
    display: flex;
    align-items: flex-end;
}

.side_bar .version_text {
    font-weight: normal;
    font-size: 12px;
    line-height: 8px;
    color: #8EA1C8;
    margin-left: 10px;
    width: max-content;
}

@media (max-width: 1050px) {
    .side_bar.side_bar_open {
        width: 64px;
    }

    .sentinel .side_bar.side_bar_open .hover_side_bar,
    .sentinel .side_bar.side_bar_open .hover_side_bar.logo_full_div {
        display: none;
    }

    .side_bar.side_bar_open .toggle_button,
    .side_bar .toggle_button {
        display: none;
    }
}
